
<table class = "table table-striped bordered" >
<th> Type</th>
<th>Explaination</th>

<tr>
<td><b>Cash Basis</b></td>

<td>
    <p>A	non-refundable	registration	fee	of	$_______	is	required	upon	registration.		
        Payment	may	be	made	in	cash,	by	personal	check	or	by	credit	card:		American	
        Express,	Visa	or	MasterCard	are	accepted.</p>   
</td>
</tr>
<tr>

    <td>
      <b>Refunds or Calculation</b>
    </td>

    <td>A		minimum		initial		down		payment		of		$______		plus		$_____		non-refundable		
        registration	fee		is		required		at		the		time		of		registration.				This		down		
        payment		guarantees		your	enrollment	since	enrollment	is	on	a	first	come,	first	
        serve	basis	due	to	limited	class	size.		An		installment		fee		of		$40.00		shall		be		
        added		on		the		remaining		balance.				The		remaining	balance		of		the		tuition		
        should		be		paid		with		equal		bi-weekly		installments,		with		the		final	payment	
        due	and	payable	two	(2)	weeks	prior	to	the	end	of	the	course</td>
</tr>
<tr>
<td><b>Returned Check Policy</b></td>

<td>All		returned		checks		will		be		assessed		a		$50.00		returned		check		fee.	Students		
    will		be	contacted	by	PRAGRA’s	Business/Administrative	Office	if	a	check	used	
    for	the	payment	of	tuition	is	returned.		The	returned	check	amount	and	
    returned	check	fee	must	be	paid in	full	with	cash	or	cashier	’s	check	within	48-
    hours	of	notification.		If	a	student	fails	to	make		payment,		he		or		she		may		be		
    withdrawn		from		course		and		will		be		referred		to		a	collection	agency.</td>
</tr>
<tr>
    <td>
        <b>
            Collection of Due or Unpaid Balances
        </b>
    </td>
    <td>
        <p>If	balance	is	unpaid	two	weeks	prior	to	end	of	course,	the	remainder	of	course	
            shall	be	discontinued		by		Pragra.	Any		due		or		unpaid		tuition,		fees		or	balances		
            will		be		forwarded		to		a		collection		agency		and/or		legal		avenues		deemed	
            appropriate	by	Pragra</p>

            <p>

            <p>
                Accounts		referred		to		a		collection		agency		will		be		subject		to		6%		interest		
                and	33.33%		collection		fees.				These		additional		charges		are		levied		by		the		
                collection	agency	and	will	be	collected	from	the	student
            </p>

            <p>

                Students	shall	not	be	allowed	to	take	final	classes if	any	and	all	amounts	due		
Pragra			pursuant		to		their		Payment		Schedule	Arrangement	(See,	p.	4),		has	not	
been	cleared	two	weeks	prior	to	end	of	course.
Certifications	and	Placement	services		shall			be			released/started			upon			
completion			of			entire			course			and satisfaction	of	tuition,	fees	or	balance.
            </p>
    </td>
    
    

</table>